---
layout: default
title: Berza polovnih agregata
---

<ul class="thumbnails">
{% for post in site.posts %}
  <li class="span3">
    <a href="{{post.url}}">
      <div class="thumbnail" style="height: 360px;">
        <img src="/assets/imgs/{{ post.imgs[0] }}" alt="">
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.excerpt }}
        </p>
        <p><strong>Cena: {{ post.cena }}</strong></p>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
