---
layout: default
title: Kontakt
---

<div class="page-header">
  <h1>Energoglobal doo Novi Sad</h1>
</div>
<div class="span9">
  <img src="/assets/imgs/energoglobal_logo.png" alt="Energoglobal doo logo" />
</div>
<address>
  Somborska rampa 25<br>
  21203 Veternik - Novi Sad grad<br>
  Srbija<br>
  <abbr title="Telefon">T:</abbr> +381 21 499315<br>
  <abbr title="Faks">F:</abbr> +381 21 499315<br>
  <abbr title="Mobilni">M:</abbr> +381 69 696004<br>
  <abbr title="E-mail"><i class="icon-envelope"></i>:</abbr> office@energoglobal.com
</address>

