<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand " href="/index.html"><img src="/assets/imgs/beli_eg_simbol.png" /> PolovniAgregati.rs</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/index.html"><i class="icon-home icon-white"></i> Početna</a>
          </li>
          <li class="">
            <a href="/kontakt.html"><i class="icon-envelope icon-white"></i> Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
