<div class="span3">
  <header><h1>Pretraga</h1></header>
  <form class="form-search" action="#">
    <div class="input-append">
      <input class="search-query" type="search" placeholder="trenutno nije u funkciji">
      <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
</div>
<div class="span3 well well-small">
  <h4>Poslednjih 10 oglasa</h4>
  <ul>
    {% for post in site.posts limit:10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="span3 well well-small">
  <h4>Energoglobal doo</h4>
  <a href="http://www.energoglobal.com/">
    <img src="/assets/imgs/energoglobal_logo2.jpg" alt="Agregati za struju | proizvodnja, prodaja, servis i održavanje agregata | Energoglobal doo Novi Sad" title="Agregati za struju | proizvodnja, prodaja, servis i održavanje agregata | Energoglobal doo Novi Sad">
  </a>
  <p>Energoglobal doo je proizvođač novih <a href="http://www.energoglobal.com/energoglobal_stacionarni_dizel_agregati.html">stacionarnih (industrijskih) dizel agregata</a>, prenosnih dizel i <a href="http://www.energoglobal.com/energoglobal_prenosni_benzinski_agregati.html">benzinskih agregata.</a></p>
  <p>Takođe, Energoglobal doo nudi i <a href="http://www.energoglobal.com/servis_i_usluge.html">usluge</a> automatizacije, servisa i redovnog preventivnog održavanja vaših agregata.</p>
</div>
