/* eg_darkblue: #2d6e8c; */
/* eg_lightblue: #56c6f5; */

body {
  padding-top: 60px;
  background-image: url("../imgs/simbol-bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body > .navbar .brand {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 30px rgba(255, 255, 255, 0.125);
  transition: all 0.2s linear 0s;
}

#mainBox .thumbnail {
  color: #2d6e8c;
  background-color: #ffe773;
}

#mainBox .thumbnail:hover {
  color: #005580;
  background-color: #ffe773;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#mainBox .thumbnails a:hover {
  text-decoration: none;
}

#mainBox .thumbnail h3 {
  text-align: center;
  font-size: 1.5em;
}
