<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include head.html %}
  <body>
    <!-- Navbar -->
    {% include navbar.html %}

    <div class="container">
      <div class="row">
        <div class="span9" id="mainBox">
          <!-- Body content -->
          {{ content }}
        </div>
        <div class="span3">
          <!-- Sidebar content -->
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </body>
</html>
