---
layout: default
---
<div class="page-header">
  <h1>{{ page.title }}<br><small>Cena: {{ page.cena }}</small></h1>
</div>
<div class="row">
  <div class="span5">
    <!-- Main content -->
    {{ content }}
  </div>
  <div class="span4">
    <!-- Gallery -->
    <div class="row">
      <ul class="thumbnails">
        {% for img in page.imgs %}
        <li class="span2">
          <a href="/assets/imgs/{{ img }}" class="gall thumbnail">
            <img src="/assets/imgs/{{ img }}" title="{{ img }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".gall").colorbox({
      rel: "gall",
      maxWidth: "90%",
      maxHeight: "90%"
    });
  });
</script>
